<h2><%= @sub.title %></h2>


<h3>Description</h3>
<br>

<p><%= @sub.description %></p>
<br>
<br>

<a href="<%= new_post_url %>">Make New Post!</a>

<ul>
<% @sub.posts.each do |post| %>

<li><a href="<%= post_url(post) %>"><%= post.title %></a></li>

<% end %>

</ul>